[Desktop Entry]
Type=Application
Name=Boot Mate
GenericName=Autostart Manager
Comment=Manage autostart entries
Exec=bootmate
Icon=me.rueegger.bootmate
Terminal=false
Categories=System;Settings;
Keywords=autostart;startup;session;
StartupNotify=true
